body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #fff;
    margin: 50px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.card {
    width: 400px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.card .container-img img {
    /* padding-top: 100px; */
    width: 350px;
    height: auto;
    /* border-radius: 50px; */
    
}
 
.card .logo{
    padding-top: 50px;
    padding-bottom: 20px;

}
.card .logo img{
    width: 150px;
    height: 150px;
    border-radius: 100px;


}
.card-content {
    padding: 20px;
    
}
.card-content h1 {
    margin: 0;
    font-size: 24px;
    color: black;
}
.card-content p {
    margin: 10px 0;
    color: #777777;
}
.card-content .contact-info {
    margin-top: 20px;
}
.card-content .contact-info div {
    margin-bottom: 10px;
}
.card-content .contact-info a {
    color: #000000;
    text-decoration: none;
}
.card-content .contact-info a:hover {
    text-decoration: underline;
}


.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 30px 30px;
   
   
   

}
.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.buttons .box {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 40px;
    width: 40px;
}
.buttons .box svg{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}




.container {
    width: 360px;
    background-color: #1a1a1a;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 25px;
}
.about-me, .contact-us {
    padding: 20px;
    border-bottom: 1px solid #333;
}
.about-me h2, .contact-us h2 {
    /* margin: 0 0 10px; */
    font-size: 24px;
}
.about-me p, .contact-us p {
    margin: 0;
    font-size: 16px;
    color: #aaa;
}
.contact-us .new{
    text-align: left;

}
.contact-us {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact-us div {
    margin-bottom: 15px;
}
.contact-us button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}




.about-me {
    width: 320px;
    background-color: #1a1a1a;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
   
}

.about-me h2 {
    margin: 0;
    font-size: 24px;
}

.about-me p {
    margin: 10px 0 0 0;
    color: #d2d2d2; 
}


.container-img {
    width: 380px;
  
    border-radius: 23px;
    overflow: hidden;
    padding: 20px 0px;
   margin-top: 10   px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   /* padding-right: 20px; */
   
   
}

.container-img img{
    width: 80%;
    border-radius: 20px;
   

}



.futter {
    background-color: black;
    color: white;
    width: 315px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    margin-bottom: 25px;
}
.futter h2 {
    margin: 0;
    font-size: 24px;
}
.futter p {
    color: gray;
    margin: 10px 0;
}
.link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #e0e0e0;
   
    transition: background-color 0.3s;
}

.link .img{
    width: 50px;
    height: 50px;
     background-color: white;
     border-radius: 50px;
     justify-content: center;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.link img{
    width: 30px;
    height: 30px;
   
}
    



.link-info {
    flex: 1;
    margin-left: 10px;
    text-align: left;
}
.link-info h3 {
    margin: 0;
    font-size: 16px;
}
.link-info p {
    margin: 5px 0 0;
    color: gray;
    font-size: 14px;
}